:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}

nav {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10vw;
}

main {
  height: 100vh;
}

footer {
  display: flex;
  justify-content: center;
  height: 50px;
}
